 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
 
 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

 * {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
 }

 html, body  {
     margin: 0;
     padding: 0;
     background-color: rgb(0, 0, 0);
 }
 
 .nav ul {
     margin: 0;
    
 }

 .nav li {
     display: inline;
 }

 .nav a {
      display: inline-block;
      padding: .1em;
      text-decoration: none;
      color: rgb(255, 255, 255);  
 }


 .main-nav {
     text-align: center;
     font-size: 1.5em;
     font-weight: lighter;
     border-bottom: 2px solid rgb(255, 255, 255)
 }

 .main-nav li {
       padding: 0 1%;
 }

 .nav a:hover {
      background-color: rgba(255, 255, 255, .3)
 }

 .main-header {
    background-color: rgb(220, 220, 220);
    background-image: url("Background img.jpg");
    /* background-blend-mode: multiply; */
    /* backgroud-size: cover; */
    padding-bottom: 30px;
 }

 .site-name {
      text-align: center;
      margin: 0;
      font-size: 4em;
      font-family: 'Black Ops One', sans-serif;
      font-weight: normal;
      color:rgb(255, 255, 255);
      
 }

 .site-name-large {
       font-size: 8em;
 }

 .content-section {
      margin: 1em;
 }

 .container {
      max-width: 2000px;
      margin:0 auto;
      padding: 0 1.5em;
 }
 .section-header {
     font-family: 'Anton', sans-serif;
     font-weight: normal;
     color:rgb(255, 255, 255);
     text-align: center;
     font-size: 2.5em;
 }

 .header-nav {
    border-bottom: 2px solid antiquewhite;
 }

 .cobra-img {
     float: right;
     width: 500px;
     height: 300px;
     margin: 15px;
     border-radius: 10%;
 }

 .cobra-nav {
      border-bottom: 2px solid rgb(255, 255, 255);
 }

 .cobra-nav p {
       padding: 0 3%;
 }
 
 .classic-text {
     font-size: 2em;
     color: rgb(255, 255, 255); 
     margin: 15px;
 }
 
 .shelby-img {
     float: right;
     width: 500px;
     height: 300px;
     margin: 15px;
     border-radius: 10%;
 }

 .shelby-nav {
      border-bottom: 2px solid antiquewhite;
 }

 .shelby-nav p {
       padding: 0 3%;
 }

 .chevrolet-img {
     float: right;
     width: 500px;
     height: 300px;
     margin: 15px;
     border-radius: 10%;
 }

 .chevrolet-nav {
      border-bottom: 2px solid antiquewhite;
 }

 .chevrolet-nav p {
       padding: 0 3%;
 }

 .main-footer {
    background-color: #28282B;
    color: rgb(0, 0, 0);
    padding: .25em 0;
 }

 .main-footer-container {
     display: flex;
     align-items: center;
 }

 .main-footer-container ul {
     flex-grow: 1;
     text-align: end;
 }

 .footer-nav li {
      padding: 0 .5em;
 }

 .footer-nav img {
      width: 50px;
      height: 50px;
 }